{% extends 'base.html' %}

{% block body %}
<div class="flex flex-col items-center">
    <h1>Welcome to Authserver please login!😊</h1>
    <form class="flex flex-col" hx-get="/auth/home">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <button class="items-center" type="submit">Submit</button>
    </form>
</div>
{% endblock %}
